{% set title = "Schlag das ISEM" %}
{% extends "base.html" %}
{% block content %}
    <form name="round" id="roundForm" action="" method="POST">
      <!-- Begin collecting information on the rounds to post in the end -->
      <section id="user-info" class="col">
        <fieldset>
            <legend>Player: Enter your details</legend>
            <label for="person-name-1">Your name: </label>
            <input type="text" placeholder="Your name" id="person-name-1">
            <br><br>
            <label for="team-name-1">Name of your team: </label>
            <input type="text" list="teams" placeholder="Team name" id="team-name-1" name="team-name-1">
            <br><br>
            <label for="person-auth-1">Password: </label>
            <input type="password" placeholder="Password" id="person-auth-1" name="person-auth-1">
            <br>
            <a href="/sites/register_new">Register a new player</a>
        </fieldset>

        <fieldset>
            <legend>Select the table you want to play against</legend>
            <label for="table-2">Table: </label>
            <select id="table-2">
                <option value="0">Open for all</option>
                {% for o in table_list %}
                <option value="{{ o[0] }}">{{ o[1] }}, {{ o[2] }}</option>
                {% endfor %}
            </select>
        </fieldset>
        
        <input type="button" id="startgame-button" value="Start game">

        <datalist id="teams">
            <option value="Team 1"></option>
            <option value="Team 2"></option>
            <option value="Team 3"></option>
            <option value="Coaches"></option>
            <option value="ISEM"></option>
            <option value="Professoren"></option>
        </datalist>
      </section>

      <section id="game-start" class="col">
        <input type="button" value="Start the game" id="game-start-button">
      </section>

      <section id="mode-select" class="col">
        <fieldset>
            <legend>Live round</legend>
            <input type="button" value="1. Inspect round" id="inspect-button"><br>
            <input type="button" value="2. Submit round" id="submit-button">
            <div id="round-stats">

            </div>

        </fieldset>
      </section>

      
    </form>
    
  
  <section id="submit-round" class="col">
      Submit your results: <input type="button" value="submit" id="submit-button"><br>
      <div id="results"><!-- Your total score is: 1870 points, rank 3/10--></div> 
    </section>

    <section id="scoreboard" class="col">
      <fieldset id="single">
        <legend>Individual</legend>
        <div id="podium-single", class="podium-container">
					<div class="podium-item" id="single-2">
						<p class="podium-name">Moritz</p>
						<div class="podium-rank second">
							ISEM<br/>7500
						</div>
					</div>
					<div class="podium-item" id="single-1">
						<p class="podium-name">Mathis</p>
						<div class="podium-rank first">
							ISEM<br/>9000
						</div>
					</div>
					<div class="podium-item" id="single-3">
						<p class="podium-name">Felix</p>
						<div class="podium-rank third">
							ISEM<br/>7200
						</div>
					</div>
				</div>
        <div id="table-single" class="table-div">Table gets put here...</div>
      </fieldset>

      <fieldset id="team">
        <legend>Teams</legend>
        <div id="podium-team", class="podium-container">
					<div class="podium-item" id="team-2">
						<p class="podium-name">AIW</p>
						<div class="podium-rank second">
							Average<br/>7500
						</div>
					</div>
					<div class="podium-item" id="team-1">
						<p class="podium-name">ISEM</p>
						<div class="podium-rank first">
							Average<br/>9000
						</div>
					</div>
					<div class="podium-item" id="team-3">
						<p class="podium-name">Professoren</p>
						<div class="podium-rank third">
							Average<br/>7200
						</div>
					</div>
          <div id="table-team" class="table-div">Table gets put here...</div>
      </fieldset>
    </section>

    <!--<footer>
      <div class="content-wrapper">
        <p>
          <a href="https://www.linkedin.com/company/tuhh-isem" target="_blank">ISEM auf LinkedIn</a> |
          <a href="https://isem-karriere.de/datenschutz/" target="_blank">Datenschutz</a> |
          <a href="https://www.tuhh.de/isem/impressum" target="_blank">Impressum</a>
        </p>
      </div>
    </footer>-->

    <script src="{{ url_for('static', filename='game_local.js') }}"></script>
{% endblock %}