{% set title = "Lokales Billardspiel" %}
{% extends "base.html" %}
{% block content %}
    <form name="round" id="roundForm" action="" method="POST">
      <!-- Begin collecting information on the rounds to post in the end -->
      <section id="user-info" class="col">
        <fieldset>
            <legend>Player 1: Enter your details</legend>
            <label for="person-name-1">Your name: </label>
            <input type="text" placeholder="Your name" id="person-name-1">
            <br><br>
            <label for="team-name-2">Name of your team: </label>
            <input type="text" list="teams" placeholder="Team name" id="team-name-1" name="team-name-1">
        </fieldset>

        <fieldset>
            <legend>Player 2: Enter your details</legend>
            <label for="person-name-2">Your name: </label>
            <input type="text" placeholder="Your name" id="person-name-2">
            <br><br>
            <label for="team-name-2">Name of your team: </label>
            <input type="text" list="teams" placeholder="Team name" id="team-name-2" name="team-name-2">
        </fieldset>
        
        <datalist id="teams">
            <option value="Team 1"></option>
            <option value="Team 2"></option>
            <option value="Team 3"></option>
            <option value="Coaches"></option>
            <option value="ISEM"></option>
            <option value="Professoren"></option>
        </datalist>
      </section>

      <section id="game-start" class="col">
        <fieldset>
          <legend>Start the game</legend>
          <input type="button" value="Start the game" id="game-start-button">
        </fieldset>
        <fieldset>
          <legend>Decide the break</legend>
          <div class="button-list">
            <input type="checkbox" id="prec1-button" class="prec-checkbox" value="player1">
            <label for="prec1-button" id="prec1-button-label" data-og="1st player precision">1st player precision</label>
            
            <input type="checkbox" id="prec2-button" class="prec-checkbox" value="player2">
            <label for="prec2-button" id="prec2-button-label" data-og="2nd player precision">2nd player precision</label>
          </div>
        </fieldset>
        <fieldset>
            <legend>Live round</legend>
            <input type="button" value="1. Inspect round" id="inspect-button"><br>
            <input type="button" value="2. Submit round" id="submit-button">
            <div id="round-stats">

            </div>
        </fieldset>
      </section>


      
    </form>

    <section id="scoreboard" class="col">
      <fieldset id="single">
        <legend>Individual</legend>
        <div id="podium-single", class="podium-container">
					<div class="podium-item" id="single-2">
						<p class="podium-name">Moritz</p>
						<div class="podium-rank second">
							ISEM<br/>7500
						</div>
					</div>
					<div class="podium-item" id="single-1">
						<p class="podium-name">Mathis</p>
						<div class="podium-rank first">
							ISEM<br/>9000
						</div>
					</div>
					<div class="podium-item" id="single-3">
						<p class="podium-name">Felix</p>
						<div class="podium-rank third">
							ISEM<br/>7200
						</div>
					</div>
				</div>
        <div id="table-single" class="table-div">Table gets put here...</div>
      </fieldset>

      <fieldset id="team">
        <legend>Teams</legend>
        <div id="podium-team", class="podium-container">
					<div class="podium-item" id="team-2">
						<p class="podium-name">AIW</p>
						<div class="podium-rank second">
							Average<br/>7500
						</div>
					</div>
					<div class="podium-item" id="team-1">
						<p class="podium-name">ISEM</p>
						<div class="podium-rank first">
							Average<br/>9000
						</div>
					</div>
					<div class="podium-item" id="team-3">
						<p class="podium-name">Professoren</p>
						<div class="podium-rank third">
							Average<br/>7200
						</div>
					</div>
          <div id="table-team" class="table-div">Table gets put here...</div>
      </fieldset>
    </section>

    <script src="{{ url_for('static', filename='game_local.js') }}"></script>
  
{% endblock %}