<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
        <title>Table Placement</title>
    </head>
    <body>
        <header>
            <a href="/"><i class="fa-solid fa-house" id="home-button"></i></a>
            <a href="/admin"><i class="fa-solid fa-arrow-left" id="back-button"></i></a>
            <h1>Table Placement</h1>
            <button id="theme_toggle"><i id="theme_toggle_icon" class="fa-solid fa-moon"></i></button>
        </header>

        <div class="image-container">
            <img src="{{ camera_address_video_feed }}" id="livestream">
        </div>

        <div class="button-list">
            <input type="button" value="Start placement mode" onclick="fetch('/placement/start')">
            <input type="button" value="Stop placement mode" onclick="fetch('/placement/stop')">
        </div>
    </body>
    <script src="{{ url_for('static', filename='theme_handler.js') }}"></script>
    <script>
        window.addEventListener("beforeunload", () => {
            navigator.sendBeacon("/placement/stop");
        });
    </script>
</html>